@import 'base';

.shelf-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}

.shelf-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

//  text-align: center;
}
