@import url( '//fonts.googleapis.com/css?family=Lato:400,700' )

@require 'liquid-grid/grid'
@require 'components/variables'
@require 'components/common/*'

@require 'components/header'
@require 'components/product'
@require 'components/cart'
@require 'components/gallery'

body
	font-family: font
	background-color: bg-color
