@import 'base';

.buybox {
  text-align: center;
  font-size: 12px;
  margin: 5px;
}

.buybox-price {
  margin-top: 0;
  margin-bottom: 0;
}

.buybox-currency {}

.buybox-price-decimals {
  font-size: 24px;
}

.buybox-price-thousands {}

.buybox-installments {
  font-size: 14px;
  color: #9F9F9F;
}

.buybox-installments-text {}

.buybox-installments-price {
  font-weight: 600;
}
