@import 'color-palette';

// ==========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Scaffolding
//  3. Typography
//  4. Badges


//== 1. Colors
// ==========================================================================

$primary-color:           $shopcart-base !default;
$primary-color-light:     $shopcart-darken-1 !default;
$primary-color-dark:      $shopcart-darken-4 !default;

$secondary-color:         $grey-base !default;
$secondary-color-light:   $grey-lighten-5 !default;
$secondary-color-medium:  $grey-lighten-2 !default;
$secondary-color-dark:    $grey-darken-3 !default;

$success-color:           $green-base !default;
$error-color:             $red-base !default;
$white-color:             $shades-white !default;


//== 2. Scaffolding
// ==========================================================================

$body-bg:                 $grey-lighten-4 !default;
$text-color:              $secondary-color-dark !default;
$link-color:              $light-blue-base !default;
$link-hover-color:        darken($link-color, 15%) !default;
$link-hover-decoration:   underline !default;
$link-color-disable:      lighten($text-color, 15%) !default;


//== 3. Typography
// ==========================================================================

$font-family-roboto:      Helvetica, Arial, sans-serif !default;
$font-family-base:        $font-family-roboto !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px


//== 5. Structure
// ==========================================================================
$app-padding-header:      60px !default;

//== 5. Header
// ==========================================================================
$header-bg-color:         $primary-color !default;
$header-height:           $app-padding-header !default;

//== 6. Main
// ==========================================================================
$main-bg-color:           $white-color !default;

//== 7. Card
// ==========================================================================
$card-bg-color:           $white-color !default;
$card-title-color:        $secondary-color-dark !default;
$card-title-line-color: #EBBE00;

//== 8. Cart
// ==========================================================================
$cart-bg-color:          #1B1A20 !default;
$cart-border-color:        $grey-lighten-1 !default;

$card-item-title-color:    $white-color !default;
$card-item-color:        #818181 !default;
$card-item-price-color:  #EABD00 !default;
$card-item-border-color: #0C0B10 !default;
